<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<header>
<% include ./partials/header %>
</header>

<div class="jumbotron">
<p>
    Front-end needs work...
</p>

</div>

</body>
</html>